<ion-view view-title="Start Menu">
  <ion-content>
    <h3>Task List</h3>
      
        
      <div class="item item-input-inset">
        <label class="item-input-wrapper"><input type="text" placeholder = "Add New Task:" ng-model = "newTask"/>
        </label>
        <button class="button button-calm button-small" ng-click = "addTask(newTask)">Add Task</button>
    </div>
      
      <div>
        <ion-list ng-repeat="task in taskData.tasks">
            <ion-item>{{task}}</ion-item>
          </ion-list>
      </div>
   
  </ion-content>
</ion-view>
