<ion-view view-title="Task Names">
  <ion-content>
      <div>
        <h3 style="text-align:center">Task list names</h3>
          <!-- Toggle to allow users to delete tasks -->
          <ion-toggle ng-model="canShowDelete">
            Show Delete Task list Buttons?
          </ion-toggle>
      </div>
        
      <!-- Option to add new task list. once title is entered the user can start creating subtasks by clicking on the title and entering second view. -->
      <div class="item item-input-inset">
        <label class="item-input-wrapper"><input type="text" placeholder = "Add New Task:" ng-model = "newTask"/>
        </label>
          <!-- call to create new task list -->
        <button class="button button-calm button-small" ng-click = "addNewList(newTask)">Add Task</button>
    </div>
      
      
      
      <div>
        <ion-list ng-repeat="task in taskData.taskList track by $index" show-delete = "canShowDelete">
            <!-- next line adds task into the list and also implements delete function to delete task as well -->
            <!-- Added checkbox to show that task has been completed -->
            <ion-item ng-click="setTaskId($index)" href="#/tab/taskNamesList/{{taskData.taskId}}"><ion-delete-button class="ion-minus-circled" ng-click="removeTaskList(task)"></ion-delete-button>{{ task.title }}</ion-item>
          </ion-list>
          
      </div>
   
  </ion-content>
</ion-view>
