<ion-view view-title="Start Menu">
  <ion-content>
    <h3 style="text-align:center">Task List</h3>
      
        
      <div class="item item-input-inset">
        <label class="item-input-wrapper"><input type="text" placeholder = "Add New Task:" ng-model = "newTask"/>
        </label>
        <button class="button button-calm button-small" ng-click = "addTask(newTask)">Add Task</button>
    </div>
      
      <div>
        <ion-list ng-repeat="task in taskData.tasks" show-delete = "canShowDelete">
            <!-- next line adds task into the list and also implements delete function to delete task as well-->
            <ion-item><ion-delete-button class="ion-minus-circled" ng-click="removeTask(task)"></ion-delete-button>{{task}}</ion-item>
          </ion-list>
          <ion-toggle ng-model="canShowDelete">
            Show Delete Buttons?
          </ion-toggle>
      </div>
   
  </ion-content>
</ion-view>
