
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tab for task names list -->
  <ion-tab title="Tasks" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/taskNamesList">
    <ion-nav-view name="tab-taskNamesList"></ion-nav-view>
  </ion-tab>
  <!-- Single Task list view Tab -->
  <ion-tab title="Task" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/singleTaskView">
    <ion-nav-view name="tab-singleTaskView"></ion-nav-view>
  </ion-tab>
    
  

  
</ion-tabs>
